ul{
  list-style-type: none;
}

.patient-list{
  overflow-y: scroll;
  max-height: 605px;
  -webkit-overflow-scrolling: touch;
}

.patient-list-item{
  cursor: pointer;
}

.list-group-item:hover{
  background-color:	#F5F5F5;
}

.clickedListItem{
  background-color:	#C0C0C0;
}

#dateSeekBar{
  margin-top: 20px;
}

a {
  color: #212529;
}

.navbar-brand{
  font-weight: 500;
}

span.MuiSlider-rail, span.MuiSlider-track {
  height: 5px !important;
}

#dateSeekBar span.MuiSlider-thumb.MuiSlider-thumbColorPrimary{
  height: 15px !important;
  width: 15px !important;
}